*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-wrap: wrap;
}

div.side{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50vh;
}

button{
  padding: 2%;
  font-size: 2em;
}

button:hover{
  background-color: #1abc9c;
}


@media all and (max-width: 768px) {
  .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
