*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

button{
  width: 50%;
  height: 100vh;
  font-size: 3em;
}

button:hover{
  background-color: green;
}
